#loadingContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #41414199;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.loading div:nth-child(1) {
    animation-delay: -0.45s;
}
.loading div:nth-child(2) {
    animation-delay: -0.3s;
}
.loading div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loadingText {
	font-size: 2rem;
	color: white;
	margin-left: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}